<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FirstRun"
         value="true"/>

    <add key="ActivationMode"
         value="Passive"/>
    
    <add key="TouhouGamesDirectory"
         value=""/>
    
    <add key="CredentialsPath"
         value="credentials.json"/>
    
    <add key="TokenPath"
         value="token.json"/>
  </appSettings>
</configuration>